
body{
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

img{
    width: 90vh;
    gap: 30px;
    display: flex;
    height: 100vh; 
}

.container{
    display: flex;
    gap:100px;
}

.price-banner {
    position: absolute;
    top: 60px;
    left: 40%;
    transform: translateX(-70%);
    background-color: #d17b49;
    color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
.form-container{
    padding: 50px;
}

